@model PotsViewModel;
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center bg-primary text-warning fw-bold p-3">
                    Champions League Group Stage
                </h1>
            </div>
            @for (int i = 0; i < 8; i++)
            {                
                <div class="col-12 col-md-6 col-lg-3">
                    <ul class="list-group">
                        <h1>Group @(i + 1)</h1>
                        @{
                            Random rand = new Random();
                            int randomId = rand.Next(1, 9);
                            List<string> countries = new List<string>();
                            while (!Model.FirstPot.Exists(c => c.ID == randomId && c.IsSelected == false && !countries.Contains(c.Country)))
                            {
                                randomId = rand.Next(1, 9);
                            }
                            var firstClub = Model.FirstPot.Find(c => c.ID == randomId);
                            Model.FirstPot.Find(c => c.ID == randomId).IsSelected = true;
                            countries.Add(firstClub.Country);
                            <li class="list-group-item">@firstClub.Club</li>

                            randomId = rand.Next(1, 9);
                            while (!Model.SecondPot.Exists(c => c.ID == randomId && c.IsSelected == false && !countries.Contains(c.Country)))
                            {
                                randomId = rand.Next(1, 9);
                            }
                            var secondClub = Model.SecondPot.Find(c => c.ID == randomId);
                            Model.SecondPot.Find(c => c.ID == randomId).IsSelected = true;
                            countries.Add(secondClub.Country);
                            <li class="list-group-item">@secondClub.Club</li>

                            randomId = rand.Next(1, 9);
                            while (!Model.ThirdPot.Exists(c => c.ID == randomId && c.IsSelected == false && !countries.Contains(c.Country)))
                            {
                                randomId = rand.Next(1, 9);
                            }
                            var thirdClub = Model.ThirdPot.Find(c => c.ID == randomId);
                            Model.ThirdPot.Find(c => c.ID == randomId).IsSelected = true;
                            countries.Add(thirdClub.Country);
                            <li class="list-group-item">@thirdClub.Club</li>

                            randomId = rand.Next(1, 9);
                            while (!Model.FourthPot.Exists(c => c.ID == randomId && c.IsSelected == false && !countries.Contains(c.Country)))
                            {
                                randomId = rand.Next(1, 9);
                            }
                            var FourthPot = Model.FourthPot.Find(c => c.ID == randomId);
                            Model.FourthPot.Find(c => c.ID == randomId).IsSelected = true;
                            countries.Add(FourthPot.Country);
                            <li class="list-group-item">@FourthPot.Club</li>
                        }
                    </ul>
                </div>
            }           
        </div>
    </div>
</section>